root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
trim_trailing_whitespace = true

[*.{js,json,scss,html,md}]
indent_size = 2
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false
indent_size = 4
