/*
Copyright 2020 Adobe
All Rights Reserved.

NOTICE: Adobe permits you to use, modify, and distribute this file in
accordance with the terms of the Adobe license agreement accompanying
it.
*/
@import '../styles/variables';

$personItemWidth: 240px;
$personItemHeight: 200px;

$personItemWidthMobile: 300px;
$personItemHeightMobile: 250px;

.person-items {
  list-style: none;
  margin-top: 1em;
  padding: 0;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: normal;
}

.person-item {
  flex-basis: $personItemWidth;
  margin: 0 0 2rem;
  padding-right: 14px;
}
  
.person-item-image {
  width: 100%;
  height: $personItemHeight;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  margin-bottom: 7px;
}
  
  .person-item-title {
    font-weight: bold;
    font-size: $font-size-medium;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  
  .person-item-length-price {
    width: 100%;
    height: 20px;
  }
  
  .person-item-length {
    float: left;
  }
  
  .person-item-price {
    float: right;
  }

  @media only screen and (max-width: $tablet-breakpoint) {
    .person-items {
      justify-content: normal;
    }
    .person-item {
      flex-basis: $personItemWidthMobile;
    }
    .person-item-image {
      height: $personItemHeightMobile;
    }
  }

  @media only screen and (max-width: $mobile-breakpoint) {
    .person-items {
      justify-content: center;
    }
  }